.heart-img {
    height: 1rem;
    padding-left: .15rem;
    padding-right: .15rem;
    animation: heart-img-spin 3s linear alternate infinite;

    &:hover {
        animation-duration: 0.4s;
    }
}

@keyframes heart-img-spin {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}